<div id="footer" class="panel">
  <div class="panel-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <p>FAIR4HEP is a collaboration between scientists at the <a href="http://illinois.edu">University of Illinois</a>,  <a href="http://www.ncsa.illinois.edu/">National Center for Supercomputing Applications</a>. <a href="https://www.nd.edu">MIT</a>, <a href="https://ucsd.edu">UCSD</a> and <a href="https://twin-cities.umn.edu">University of Minnesota</a>
          </p>
          <p>
            <figure class="fourth">
              <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/Logo_Illinois.png" style="width: 40px">
              <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/Logo_NCSA.jpg" style="width: 80px">
              <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/Logo_MIT.png" style="width: 60px">
              <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/Logo_UCSD.png" style="width: 60px">
              <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/Logo_UMN.png" style="width: 60px">
            </figure>
          </p>
        </div>
        <div class="col-sm-6">
          <p>
            <i>This research is supported through <a href="https://pamspublic.science.energy.gov/WebPAMSExternal/Interface/Common/ViewPublicAbstract.aspx?rv=b29658ae-712b-41a6-8b76-9eebc16e1c58&rtc=24&PRoleId=10">DE-SC0021258</a> from the <a href="">Office of Advanced Scientific Computing Research</a> within the <a href="https://www.energy.gov">U.S. Department of Energy</a> <a href="https://science.osti.gov">Office of Science</a>.</i>
          </p>

          <p>
            <figure class="fourth">
              <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/Logo_DOE.png" style="width: 400px">
            </figure>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
