<div id="footer" class="panel">
  <div class="panel-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <p>FAIR4HEP is a collaboration between scientists at the <a href="http://illinois.edu">University of Illinois at Urbana-Champaign</a>, <a href="https://www.mit.edu">Massachusetts Institute of Technology</a>, <a href="https://ucsd.edu">University of California at San Diego</a> and the <a href="https://twin-cities.umn.edu">University of Minnesota</a>
          </p>
          <p>
            <figure class="fourth">
              <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/Logo_Illinois.png" style="width: 45px">
              <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/Logo_MIT.png" style="width: 100px">
              <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/Logo_UCSD.png" style="width: 100px">
              <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/Logo_UMN.png" style="width: 100px">
            </figure>
          </p>
        </div>
        <div class="col-sm-6">
          <p>
            <i>This research is supported by
              <a href="https://pamspublic.science.energy.gov/WebPAMSExternal/Interface/Common/ViewPublicAbstract.aspx?rv=b29658ae-712b-41a6-8b76-9eebc16e1c58&rtc=24&PRoleId=10">DE-SC0021258</a>,
              <a href="https://pamspublic.science.energy.gov/WebPAMSExternal/Interface/Common/ViewPublicAbstract.aspx?rv=05f14cad-b3f2-4bc1-9adc-51465e0c2b7c&rtc=24&PRoleId=10">DE-SC0021395</a>,
              <a href="https://pamspublic.science.energy.gov/WebPAMSExternal/Interface/Common/ViewPublicAbstract.aspx?rv=c5075caf-4c41-4040-b813-5d9d47d6f17d&rtc=24&PRoleId=10">DE-SC0021225</a>, and
              <a href="https://pamspublic.science.energy.gov/WebPAMSExternal/Interface/Common/ViewPublicAbstract.aspx?rv=535ad18b-d0cd-4f08-8c15-9a6e247d9ab4&rtc=24&PRoleId=10">DE-SC0021396</a>
              from the <a href="https://www.energy.gov/science/ascr/advanced-scientific-computing-research">Office of Advanced Scientific Computing Research</a> within <a href="https://www.energy.gov">U.S. Department of Energy</a> <a href="https://science.osti.gov">Office of Science</a>.</i>
          </p>

          <p>
            <figure class="fourth">
              <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/Logo_DOE.png" style="width: 400px">
            </figure>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
